$olive-green: #556b2f;
$blue: #191970;

.post-container {
  padding: 8px;
  font-weight: 300;
  padding: 10px;
}

.image-container {
}
.userName {
  font-weight: 600;
}

.image-caption {
}

.image {
  width: 100%;
}
