$orange: #d2691e;
$yellow: #fcba03;

.profile {
  border-style: solid;
  border-color: $orange;
  border-width: 3px;
  font-family: liberation-sans, sans-serif;
}

.images-container {
  border-color: $yellow;
  border-style: solid;
  border-width: 3px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
