$orange: #d2691e;
$yellow: #fcba03;
$olive-green: #556b2f;
$blue: #191970;

.profile {
  width: 100%;
  height: 100%;
  border-width: medium;
  border-style: solid;
  border-color: $orange;
  border-width: 3px;
}

.images-container {
  border-color: $yellow;
  border-style: solid;
  border-width: 3px;
  // width: 90%;
  // height: 90%;
  display: flex;
  flex-wrap: wrap;
}

.post-container {
  border-color: $olive-green;
  border-width: 3px;
  border-style: solid;
  padding: 10px;
  width: 33%;
}

.image {
  border-color: $blue;
  border-style: solid;
  width: 100%;
  height: 100%;
  border-width: 3px;
}
